body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header img {
  width: 300px;
}

.wrapper {
  margin: 16px 0;
}

form .form-row {
  margin: 24px 0;
}

form .form-row label {
  display: block;
  font-size: 19px;
  font-weight: 600;
  margin: 8px 0;
}

form .form-row span {
  display: block;
  font-size: 13px;
  color: #444;
  margin: 8px 0;
}

form .form-row input {
  display: block;
  padding: 4px;
  font-size: 15px;
  margin: 8px 0;
  width: 300px;
}

.error {
  color: red;
  font-weight: 600;
}
