:root {
  --rag-red-color: rgb(213, 40, 42);
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 16px;
}

h2 {
  font-size: 20px;
}

a {
  color: var(--rag-red-color);
}

.login .logo {
  width: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header img {
  width: 300px;
}

.wrapper {
  margin: 16px 0;
}

form .form-row {
  margin: 24px 0;
}

form .form-row label {
  display: block;
  font-size: 19px;
  font-weight: 600;
  margin: 8px 0;
}

form .form-row span {
  display: block;
  font-size: 13px;
  color: #444;
  margin: 8px 0;
}

form .form-row input {
  display: block;
  padding: 4px;
  font-size: 15px;
  margin: 8px 0;
  max-width: 350px;
  width: 100%;
}

form .form-row input[type="color"] {
  padding: 0;
}

form .form-row table tr td img {
  width: 100px;
  margin-right: 8px;
}

form button {
  padding: 8px 12px;
  background-color: white;
  color: var(--rag-red-color);
  border: 1px solid var(--rag-red-color);
  border-radius: 12px;
  font-size: 15px;
  transition: 0.2s;
  cursor: pointer;
}

form button:hover {
  background-color: var(--rag-red-color);
  color: white;
}

a.link-button {
  padding: 8px 12px;
  background-color: white;
  color: var(--rag-red-color);
  border: 1px solid var(--rag-red-color);
  border-radius: 12px;
  font-size: 15px;
  transition: 0.2s;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

a.link-button:hover {
  background-color: var(--rag-red-color);
  color: white;
}

.error {
  color: red;
  font-weight: 600;
}

.split-column-container {
  display: flex;
  flex-direction: row;
}

.split-column {
  width: 50%;
}

.map-container {
  position: relative;
}

.map-container .map-search {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 16px;
  padding: 12px 12px;
  font-size: 17px;
  width: calc(100% - 56px);
  border-radius: 12px;
  border: 1px solid #aaa;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.map-container #map {
  width: 100%;
  height: calc(100vh - 140px);
  z-index: 1;
}

details {
  margin: 48px 0;
}

details summary {
  cursor: pointer;
  font-weight: 600;
  color: var(--rag-red-color);
}
