:root {
  --rag-red-color: rgb(213, 40, 42);
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#map {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.map-popup {
  text-align: center;
}

.map-popup h2 {
  margin: 0;
}

.map-popup .members {
  font-weight: 600;
  font-size: 15px;
  margin-top: 8px;
}

.main-banner {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 2;
  padding: 16px;
  width: calc(100% - 64px);
  border-radius: 24px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.main-banner .logo {
  height: 100px;
}

.main-banner .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-banner .info h1 {
  margin: 0;
}

.main-banner .info p {
  margin: 0;
}

.main-banner .countdown {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
}

.main-banner .countdown .countdown-timer {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
}

.main-banner .countdown .label {
  margin: 0;
}

.sidebar {
  position: fixed;
  bottom: 24px;
  right: 16px;
  z-index: 2;
  padding: 16px;
  height: calc(100vh - 64px - 132px - 16px - 8px);
  border-radius: 24px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  background-color: white;
}

.sidebar .team-details img {
  width: 94px;
  border-radius: 100%;
  border: 6px solid var(--rag-red-color);
  display: table-cell;
}

.sidebar .team-details td {
  vertical-align: middle;
}

.sidebar .team-details .overview {
  display: table-cell;
  padding-left: 8px;
}

.sidebar .team-details h2 {
  margin: 0;
}

.sidebar .team-details .tagline {
  margin: 12px 0;
}

.sidebar .team-details .latest-update {
  margin: 0;
}

.sidebar .team-details details {
  text-align: center;
  padding: 8px;
}

.sidebar .team-details details summary {
  cursor: pointer;
}

.sidebar .team-details .stats {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.sidebar .team-details .message {
  font-size: 14px;
  margin: 0;
}
