:root {
  --rag-red-color: rgb(213, 40, 42);
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  height: 100vh;
  margin: 0;
}

a {
  color: var(--rag-red-color);
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}

.horizontal-layout {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#map {
  height: calc(100vh - 132px);
  flex-grow: 1;
  border-top-right-radius: 8px;
}

.map-popup {
  text-align: center;
}

.map-popup img {
  width: 94px;
  border-radius: 100%;
  border: 6px solid var(--rag-red-color);
}

.map-popup h2 {
  margin: 8px;
}

.map-popup .members {
  font-weight: 600;
  font-size: 15px;
  margin: 8px;
}

.map-popup .description {
  margin: 8px;
}

.map-popup .location-update {
  font-weight: 500;
  margin-bottom: 4px;
}

.map-popup .location-update-message {
  margin: 4px;
  font-style: italic;
}

.map-popup p.donate {
  padding-top: 4px;
  padding-bottom: 4px;
}

.map-popup p.donate a {
  padding: 8px 12px;
  border-radius: 12px;
  color: white;
  text-decoration: none;
}

.main-banner {
  width: calc(100% - 32px);
  background-color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.main-banner .logo {
  height: 100px;
}

.main-banner .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.main-banner .info h1 {
  margin: 0;
}

.main-banner .info p {
  margin: 0;
}

.main-banner .countdown {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
}

.main-banner .countdown .countdown-timer {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
}

.main-banner .countdown .label {
  margin: 0;
}

.sidebar {
  height: 100%;
  padding: 16px;
  min-width: 300px;
  background-color: white;
}

.sidebar .team-details img {
  width: 94px;
  border-radius: 100%;
  border: 6px solid var(--rag-red-color);
  display: table-cell;
}

.sidebar .team-details td {
  vertical-align: middle;
}

.sidebar .team-details .overview {
  display: table-cell;
  padding-left: 8px;
}

.sidebar .team-details h2 {
  margin: 0;
}

.sidebar .team-details .tagline {
  margin: 12px 0;
}

.sidebar .team-details .latest-update {
  margin: 0;
}

.sidebar .team-details details {
  text-align: center;
  padding: 8px;
}

.sidebar .team-details details summary {
  cursor: pointer;
}

.sidebar .team-details .stats {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.sidebar .team-details .message {
  font-size: 14px;
  font-style: italic !important;
  margin: 0;
}
