:root {
  --rag-red-color: rgb(213, 40, 42);
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  height: 100vh;
  margin: 0;
}

a {
  color: var(--rag-red-color);
}

.vertical-layout {
  display: flex;
  flex-direction: column;
}

.horizontal-layout {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#map {
  height: calc(100vh - 132px);
  flex-grow: 1;
  border-top-right-radius: 8px;
}

.map-popup {
  text-align: center;
}

.map-popup img {
  width: 94px;
  border-radius: 100%;
  border: 6px solid var(--rag-red-color);
}

.map-popup h2 {
  margin: 8px;
}

.map-popup .members {
  font-weight: 600;
  font-size: 15px;
  margin: 8px;
}

.map-popup .description {
  margin: 8px;
}

.map-popup .location-update {
  font-weight: 500;
  margin-bottom: 4px;
}

.map-popup .location-update-message {
  margin: 4px;
  font-style: italic;
}

.map-popup p.donate {
  padding-top: 4px;
  padding-bottom: 4px;
}

.map-popup p.donate a {
  padding: 8px 12px;
  border-radius: 12px;
  color: white;
  text-decoration: none;
}

.main-banner {
  width: calc(100% - 32px);
  background-color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.main-banner .logo {
  height: 100px;
}

.main-banner .info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.main-banner .info h1 {
  margin: 0;
  font-size: 28px;
}

.main-banner .info p {
  margin: 0;
}

.main-banner .info .charity-details {
  font-size: 19px;
  font-weight: 500;
}

.main-banner .info .donation-link {
  padding: 6px 10px;
  border-radius: 12px;
  background-color: white;
  color: var(--rag-red-color);
  border: 1px solid var(--rag-red-color);
  text-decoration: none;
  transition: 0.2s;
  font-size: 15px;
  margin: 0 16px;
}

.main-banner .info .donation-link:hover {
  background-color: var(--rag-red-color);
  color: white;
}

.main-banner .countdown {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
}

.main-banner .countdown .countdown-timer {
  margin: 0;
  font-weight: 700;
  font-size: 45px;
}

.main-banner .countdown .label {
  margin: 0;
}

.sidebar {
  height: calc(100vh - 132px - 32px);
  overflow: scroll;
  padding: 16px;
  min-width: 300px;
  background-color: white;
}

.sidebar .toggle {
  display: none;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 12px;
  background-color: white;
  color: var(--rag-red-color);
  border: 1px solid var(--rag-red-color);
  text-decoration: none;
  transition: 0.2s;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 16px 0;
}

.sidebar .toggle:hover {
  background-color: var(--rag-red-color);
  color: white;
}

.sidebar .team-details .team-image {
  width: 94px;
  border-radius: 100%;
  border: 6px solid var(--rag-red-color);
  display: table-cell;
}

.sidebar .team-details .donate-button {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 12px 0;
  border-radius: 16px;
  margin: 8px 0;
  display: inline-block;
}

.sidebar .team-details .donate-button .external-link {
  padding-left: 6px;
  width: 12px;
  filter: invert(1);
}

.sidebar .team-details td {
  vertical-align: middle;
}

.sidebar .team-details .overview {
  display: table-cell;
  padding-left: 8px;
}

.sidebar .team-details h2 {
  margin: 0;
}

.sidebar .team-details .tagline {
  margin: 12px 0;
}

.sidebar .team-details .latest-update {
  margin: 0;
}

.sidebar .team-details details {
  text-align: center;
  padding: 8px;
}

.sidebar .team-details details summary {
  cursor: pointer;
}

.sidebar .team-details .stats {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.sidebar .team-details .message {
  font-size: 14px;
  font-style: italic !important;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .main-banner .info {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .main-banner .logo {
    height: 65px;
    padding: 12px 0;
  }

  .main-banner .info h1 {
    font-size: 24px;
  }

  .main-banner .info .description {
    font-size: 14px;
  }

  .main-banner .info .charity-details {
    font-size: 16px;
    font-weight: 500;
  }

  .main-banner .info .charity-details .donation-link {
    padding: 4px 8px;
    font-size: 13px;
  }

  .main-banner .countdown .countdown-timer {
    font-size: 32px;
  }
  
  .main-banner .countdown .label {
    font-size: 14px;
  }

  #map {
    height: calc(100vh - 121px);
  }

  .sidebar {
    height: calc(100vh - 121px - 32px);
    overflow: scroll;
  }
}

@media screen and (max-width: 820px) {
  .main-banner .logo {
    display: none;
  }

  .main-banner .info {
    padding: 0;
  }

  .main-banner {
    height: 89px;
  }

  .sidebar .team-details h2 {
    font-size: 22px
  }

  .sidebar .team-details p {
    font-size: 15px;
  }

  .sidebar .team-details .overview .tagline {
    margin: 8px 0;
  }
  
  .sidebar .team-details .message {
    font-size: 13px;
  }

  .sidebar .team-details img {
    width: 74px;
  }
}

@media screen and (max-width: 610px) {
  .horizontal-layout {
    flex-direction: column-reverse;
  }

  .main-banner {
    height: initial;
    flex-direction: column;
    background-color: white;
    justify-self: unset;
    padding-bottom: 0;
  }

  .main-banner .info {
    text-align: center;
    display: block;
    padding: 0;
  }

  .main-banner .info .description {
    padding: 8px 0;
  }

  .main-banner .info .charity-details .donation-link {
    display: block;
    padding: 6px 10px;
    font-size: 15px;
    margin: 8px 0;
  }

  .main-banner .countdown {
    text-align: center;
    display: block;
    flex-direction: column;
    width: 100%;
  }

  .main-banner .countdown .countdown-timer {
    font-size: 32px;
  }
  
  .main-banner .countdown .label {
    font-size: 14px;
  }

  .sidebar {
    height: 100%;
    padding-bottom: 0;
  }

  .sidebar .toggle {
    display: block;
  }

  .sidebar .team-details {
    display: none;
  }

  .sidebar hr {
    display: none;
  }

  #map {
    height: calc(100vh - 262px);
    border-top-right-radius: 0;
  }
}

@media screen and (max-width: 460px) {
  #map {
    height: calc(100vh - 279px);
  }
}

@media screen and (max-width: 460px) {
  .main-banner .info h1 {
    font-size: 22px;
  }

  #map {
    height: calc(100vh - 277px);
  }
}
